<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295894611687-2kpu7l1ev3640d53te6o64aaatbmhooh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295894611687-2kpu7l1ev3640d53te6o64aaatbmhooh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>295894611687-qspbrpnqoe56iiu3lo24cq7650gvdt83.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDijIIdMo0fMwp7TlkrIi9gNv_g-nvCgw</string>
	<key>GCM_SENDER_ID</key>
	<string>295894611687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newadbee</string>
	<key>PROJECT_ID</key>
	<string>signin-39b56</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-39b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295894611687:ios:4cb3170b33b958016f9442</string>
</dict>
</plist>